<% @user = User.find_by_id(params[:user]) %>

<h1>Welcome, <%= @user.email %></h1>
<h3>Below are your current donations:</h3>


<%= button_to new_user_donation_type_path(@user) do %>
	Add a new donation
<% end %>