<% @user = User.find_by_id(params[:user]) %>

<h1>Welcome, <%= @user.email %></h1>
<h3>Below are your current donations:</h3>


<%= link_to new_user_donation_path(:current_user_id => params[:user])  do %>
	Add a new donation
<% end %>