<h4> What kind of donation would you like to create? </h4>

<form id='donation-form'  action= <%= user_donations_path %> method="post">

<div>Title: <input name='donation[title]' type='text'></input></div>
<br>
<div>Description: <input name='donation[description]' type='txtbox'></input></div>
<br>

<input name='authenticity_token' value= '<%= form_authenticity_token %>' type='hidden'>

<input name='current_user_id' value= '<%= params[:current_user_id] %>' type='hidden'>

<select id='donation-select' name='donation_type'>
	<option value=''>Choose a donation type</option>
	<option value='Voucher'>Voucher</option>
	<option value='Experience'>Experience</option>
	<option value='physical_item'>Physical Item</option>
</select>

<div id='donation-addtl-info'></div>


<%= link_to 'Return to Index', user_path(user: params[:current_user_id]) %>


</form>

<script type='text/javascript'>

var form_null_input = '';

var form_submit = '<input type="submit" value="Create this donation">';

var form_input_expiration_date = 'Expiration Date: <input type="date" name="donation[expiration_date]"></date>';

var form_input_contact = 'Primary Contact: <input type="text" name="donation[primary_contact_name]"></input>';
var form_input_lattitude = 'Latitude: <input type="number" name="donation[latitude]"></input>';
var form_input_longitude = 'Longitude: <input type="number" name="donation[longitude]"></input>';

var form_input_height = 'Height: <input type="number" name="donation[height]"></input>';
var form_input_width = 'Width: <input type="number" name="donation[width]"></input>';
var form_input_weight = 'Weight: <input type="number" name="donation[weight]"></input>';

$('#donation-select').change(function(){
	var selectedOption = $(this).children('option:selected').text();

	if (selectedOption == 'Voucher') {
		$('#donation-addtl-info').html(form_input_expiration_date + '<br>' + form_submit);
	} 
	else if (selectedOption == 'Experience') {
		$('#donation-addtl-info').html(form_input_contact + '<br>' + form_input_lattitude + '<br>' + form_input_longitude + '<br>' + form_submit);
	} else if (selectedOption == 'Physical Item') {
		$('#donation-addtl-info').html(form_input_height + '<br>' + form_input_width + '<br>' + form_input_weight + '<br>' + form_submit);		
	} else {
		$('#donation-addtl-info').html(form_null_input);
	};

});


</script>