<h1>Physical Item</h1>

<% params[:type] = 'PhysicalItem' %>

<% physicalItem = PhysicalItem.find(params[:id]) %> 
<% params[:user] = Donation.find_by_donatable_id(params[:id]).user.id %>

<ul> Dimensions:
<li>Height: <%= physicalItem.height %></li>
<li>Width: <%= physicalItem.width %></li>
<li>weight: <%= physicalItem.weight %></li>
</ul>

<%= link_to 'Return to Index', user_path(params) %>